{% extends 'base.html' %}
{% block content %}
<section class="produto-detalhe">
    <div class="imagem">
        <img src="{{ produto.imagem }}" alt="{{ produto.nome }}" class="produto-imagem">

    </div>
    <div class="descricao">
        <h2>{{ produto.nome }}</h2>
        <p>{{ produto.descricao }}</p>
        <p>Preço: {{ produto.preco }}</p>
        <p>{{ produto.detalhes }}</p>
    </div>
    <div class="comentarios">
        <h3>Comentários e Avaliações</h3>
        <textarea placeholder="Deixe seu comentário..."></textarea>
        <button class="botao">Enviar</button>
    </div>
</section>
{% endblock %}